@font-face {
    font-family: "ProximaNovaBold";
    src: url("../../public/fonts/ProximaNovaBold.otf") format("opentype");
}

@font-face {
    font-family: "ProximaNovaSemiBold";
    src: url("../../public/fonts/ProximaNovaSemibold.otf") format("opentype");
}

@font-face {
    font-family: "ProximaNovaMedium";
    src: url("../../public/fonts/ProximaNovaMedium.otf") format("opentype");
}

@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../../public/fonts/ProximaNovaRegular.otf") format("opentype");
}
    
    