@font-face {
  font-family: "ProximaNovaBold";
  src: url(/fonts/ProximaNovaBold.otf?be6c88e07a79b457e070a8c094b2e798) format("opentype");
}
@font-face {
  font-family: "ProximaNovaSemiBold";
  src: url(/fonts/ProximaNovaSemibold.otf?3a2e303446fad19697b00dc0f0c6399f) format("opentype");
}
@font-face {
  font-family: "ProximaNovaMedium";
  src: url(/fonts/ProximaNovaMedium.otf?df0e1fba8a4394b7b16139ac48345ac3) format("opentype");
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url(/fonts/ProximaNovaRegular.otf?7bc9ce404c297c24f2104c18ec4a8526) format("opentype");
}
/***
    The new CSS reset - version 1.5.1 (last updated 1.3.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "ProximaNovaRegular";
  -webkit-font-smoothing: antialiased;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: pointer;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

header {
  display: flex;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #171617;
  z-index: 99999;
  position: fixed;
}
header .global-header-left {
  margin-left: 4px;
  height: 100%;
}
header .global-header-center-text {
  font-family: "ProximaNovaSemiBold";
  color: #FFAA00;
  font-size: 16px;
}
header .global-header-button-right {
  margin-right: 4px;
}
header .global-header-left-container {
  display: flex;
  align-items: center;
  flex: 1;
}
header .global-header-logo {
  margin: 0 20px 0 8px;
}
header .global-header-logo > img {
  height: 36px;
}
header .global-header-company-name {
  font-size: 18px;
  font-family: "ProximaNovaMedium";
}
header .global-header-content > button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .global-header-content > button > svg {
  fill: #5A5A5A;
}
header .global-header-content > button > span {
  margin-top: 4px;
  font-size: 12px;
}
header .global-header-content-cart {
  position: relative;
  margin-right: 16px;
}
header .global-header-total-items-cart {
  background-color: #E74C3C;
  color: #ffffff;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: 5px;
  font-size: 12px;
  font-family: "ProximaNovaSemiBold";
  box-shadow: 1px 2px 4px rgba(23, 22, 23, 0.3);
}

@-webkit-keyframes changeScrollHeightHeader {
  0% {
    height: 80px;
  }
  100% {
    height: 40px;
  }
}

@keyframes changeScrollHeightHeader {
  0% {
    height: 80px;
  }
  100% {
    height: 40px;
  }
}
body {
  min-height: 100vh;
}

main {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 54px;
  overflow: scroll;
  min-height: 500px;
}

.product-breadcrumb-container {
  margin-bottom: 16px;
  margin-left: 16px;
  padding-right: 16px;
}
.product-breadcrumb-button {
  font-family: "ProximaNovaMedium";
  font-size: 14px;
  color: #5A5A5A;
}
.product-breadcrumb-button:last-child {
  color: #3498DB;
  font-family: "ProximaNovaSemiBold";
}

.product-item {
  font-family: "ProximaNovaMedium" !important;
  border: 0.5px solid rgba(189, 189, 189, 0.7);
  padding: 8px 4px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-bottom: 8px;
}

.glider-track {
  margin-left: 8px !important;
  font-size: 14px;
  color: #5A5A5A;
}

.glider-track .selected {
  color: #fff !important;
  background-color: #171617;
  transition: all 0.3s;
}

.glider-wrapper {
  margin-bottom: 16px !important;
}

.product-subcategories-container {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0 3px 8px;
  gap: 5px;
}
.product-subcategories-item {
  margin-right: 8px;
  font-size: 13px;
  font-family: "ProximaNovaMedium";
  color: #fff;
  margin-bottom: 3px;
  border-width: 0.1px;
  border-radius: 6px;
  border-style: solid;
  border-color: #FFAA00;
  padding: 3px 6px;
  background-color: #FFAA00;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.product-subcategories-hide-show-all {
  font-size: 10px;
  margin-left: 8px;
  font-family: "ProximaNovaSemiBold";
}

.product-sub-section-container {
  display: flex;
  margin: 0 16px;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-bottom: 0.2px solid rgba(189, 189, 189, 0.7);
  margin-bottom: 4px;
}
.product-sub-section-left {
  font-family: "ProximaNovaMedium";
  color: #171617;
}
.product-sub-section-rigth {
  font-family: "ProximaNovaMedium";
  color: #171617;
  position: relative;
  min-width: 100px;
  height: 30px;
  display: flex;
}
.product-sub-section-button-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.4px solid rgba(212, 212, 212, 0.7);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  flex: 1;
  padding: 0 8px;
}
.product-sub-section-button-sort > img {
  width: 9px;
  margin-left: 8px;
}
.product-sub-section-button-text {
  color: #5A5A5A;
  font-family: "ProximaNovaMedium";
}
.product-sub-section-length {
  font-family: "ProximaNovaSemiBold";
  color: #5A5A5A;
}
.product-sub-section-dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 0.4px solid rgba(212, 212, 212, 0.7);
}
.product-sub-section-dropdown-content > a {
  padding: 7px 8px;
}
.product-sub-section-dropdown-content > a:hover {
  background-color: #f1f1f1;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;
}
@media (max-width: 470px) and (min-width: 360px) {
  .product-container {
    justify-content: space-between;
  }
}
.product-cart-item-wrapper {
  position: relative;
  width: 200px;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-top-width: 4px;
  border-top-style: solid;
  border-radius: 4px;
}
@media (max-width: 470px) {
  .product-cart-item-wrapper {
    width: calc(50% - 8px);
    margin-bottom: 32px;
    padding: 8px 16px 24px 16px;
  }
}
@media (max-width: 360px) {
  .product-cart-item-wrapper {
    width: 100%;
    margin-bottom: 0;
  }
  .product-cart-item-wrapper + .product-cart-item-wrapper {
    margin-top: 24px;
  }
}
.product-cart-image {
  display: flex;
  justify-content: center;
}
@media (max-width: 470px) {
  .product-cart-image > img {
    max-height: 100px;
  }
}
@media (max-width: 360px) {
  .product-cart-image > img {
    max-height: 200px;
  }
}
.product-cart-name {
  font-size: 20px;
  margin-top: 13px;
  color: #171617;
  font-family: "ProximaNovaMedium";
}
@media (max-width: 360px) {
  .product-cart-name {
    margin-top: 24px;
  }
}
.product-cart-description-small {
  font-size: 10px;
  margin-top: 4px;
  color: #171617;
}
@media (max-width: 360px) {
  .product-cart-description-small {
    margin-top: 8px;
    font-size: 11px;
  }
}
.product-cart-price {
  font-size: 14px;
  margin-top: 14px;
  color: #5A5A5A;
}
@media (max-width: 360px) {
  .product-cart-price {
    margin-top: 16px;
    font-size: 15px;
  }
}
.product-cart-delivered {
  color: #3498DB;
  font-size: 10px;
  margin-top: 8px;
  max-width: 90%;
  font-family: "ProximaNovaSemiBold";
}
.product-cart-delivered > span {
  font-size: 10px;
  color: #171617;
  font-family: "ProximaNovaMedium";
}
.product-cart-add-item {
  width: 60px;
  height: 30px;
  position: absolute;
  right: -5px;
  bottom: -5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-cart-add-item > svg {
  width: 16px;
  height: 14px;
}

.product-button-payment-div-absolute {
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: "ProximaNovaMedium";
  background-color: #ffffff;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
  width: 100%;
  padding: 16px;
}
.product-button-payment-absolute {
  padding: 16px;
  color: #ffffff;
  font-family: "ProximaNovaMedium";
  background-color: #FFAA00;
  width: 100%;
  text-align: center;
  border-radius: 8px;
}

.details-image-container {
  height: 321px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.details-button-back {
  position: absolute;
  top: 20px;
  left: -5px;
  width: 60px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 21px;
}
.details-product-name {
  font-size: 28px;
  font-family: "ProximaNovaSemiBold";
  margin: 16px 0 8px 16px;
}
.details-product-amount {
  font-size: 20px;
  margin-left: 16px;
}
.details-product-description {
  color: #7C7C7C;
  margin: 16px;
  line-height: 21px;
}
.details-footer-bottoms {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffffff;
  padding-bottom: 32px;
}
.details-button-rounded-action {
  border-radius: 100px;
  border: 1px solid #C6C6C6;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ProximaNovaMedium";
  font-size: 30px;
  color: #5A5A5A;
  box-shadow: 1px 3px 8px rgba(23, 22, 23, 0.2);
}
.details-qtd {
  margin: 0 16px;
  font-family: "ProximaNovaMedium";
  font-size: 24px;
  color: #5A5A5A;
}
.details-button-confirm {
  background-color: #FFAA00;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 40px;
  border-radius: 8px;
  margin-right: -8px;
  margin-left: 32px;
  font-family: "ProximaNovaMedium";
  box-shadow: 1px 3px 8px rgba(23, 22, 23, 0.2);
}

.cart-container {
  padding: 32px 16px 220px 16px;
  display: flex;
  flex-direction: column;
}
.cart-section-button-and-marketplace-name {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(245, 245, 245, 0.95);
  width: 100%;
  z-index: 3;
  height: 40px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid rgba(198, 198, 198, 0.4);
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
}
.cart-arrow-back-button {
  margin-right: 16px;
}
.cart-clear-button {
  display: flex;
  align-items: center;
}
.cart-marketplace-name {
  font-family: "ProximaNovaSemiBold";
  font-size: 22px;
  color: #171617;
}
.cart-item-container {
  margin-top: 32px;
  box-shadow: 1px 3px 8px rgba(23, 22, 23, 0.2);
  border-top-width: 4px;
  border-top-style: solid;
  border-radius: 6px;
  padding: 8px 8px 24px 8px;
  position: relative;
}
.cart-item-content {
  display: flex;
  justify-content: space-between;
}
.cart-item-container-image {
  width: 75px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-item-image {
  height: 100%;
}
.cart-item-name-and-price {
  flex: 1;
  padding-top: 4px;
}
.cart-item-name {
  font-size: 24px;
  font-family: "ProximaNovaMedium";
}
.cart-item-price {
  font-size: 14px;
  margin-top: 2px;
  color: #5A5A5A;
}
.cart-item-add-or-remove-container {
  height: 65px;
  width: 25px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.cart-item-add {
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding: 4px;
}
.cart-item-remove {
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding: 4px;
}
.cart-item-description {
  margin-top: 4px;
  padding: 0 16px 0 16px;
  font-size: 14px;
  color: #7C7C7C;
}
.cart-item-total-price {
  position: absolute;
  right: -4px;
  bottom: -8px;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  padding: 6px 6px;
  color: #ffffff;
  font-size: 12px;
  font-family: "ProximaNovaSemiBold";
}
.cart-amount-sum-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 16px;
  background-color: #ffffff;
  border-top: 1px solid rgba(198, 198, 198, 0.2);
  box-shadow: 1px -1px 8px rgba(0, 0, 0, 0.2);
}
.cart-total-container {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
}
.cart-total-name {
  width: 100px;
  font-size: 14px;
}
.cart-total-price {
  font-size: 14px;
}
.cart-tax-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 0.5px solid #C6C6C6;
}
.cart-tax-name {
  width: 100px;
  font-size: 14px;
}
.cart-tax-price {
  font-size: 14px;
}
.cart-sub-total-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.cart-sub-total-name {
  width: 100px;
  font-size: 14px;
}
.cart-sub-total-price {
  font-size: 14px;
  font-family: "ProximaNovaSemiBold";
}
.cart-finalize-button {
  background-color: #FFAA00;
  width: 100%;
  padding: 16px;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ProximaNovaMedium";
  font-size: 18px;
  margin-top: 16px;
}
.cart-no-exists-cart-list-message {
  position: absolute;
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 16px;
  top: 70px;
  color: #ffffff;
  background-color: rgba(52, 152, 219, 0.7);
  border-radius: 4px;
  border: 0.5px solid rgba(52, 152, 219, 0.8);
  line-height: 21px;
  font-family: "ProximaNovaMedium";
}

.cart-success-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 16px 16px 16px;
}
.cart-success-image {
  width: 140px;
  height: 140px;
}
.cart-success-text1 {
  font-size: 32px;
  font-family: "ProximaNovaSemiBold";
  color: #171617;
  text-align: center;
  margin-top: 64px;
}
.cart-success-text2 {
  font-size: 16px;
  color: #171617;
  margin-top: 24px;
  text-align: center;
}
.cart-success-payments-redirect {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  width: 100%;
}
.cart-success-payments-redirect > img {
  max-width: 170px;
  max-height: 55px;
}
@media (max-width: 374px) {
  .cart-success-payments-redirect > img {
    max-width: 150px;
  }
}
@media (max-width: 344px) {
  .cart-success-payments-redirect > img {
    max-width: 140px;
  }
}
.cart-success-button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: "ProximaNovaMedium";
}
.cart-success-button-payment {
  background-color: #FFAA00;
  margin-top: 64px;
  color: #ffffff;
}
.cart-success-button-back-to-home {
  border: 1px solid #FFAA00;
  margin-top: 16px;
  color: #FFAA00;
}

.global-loader-container {
  position: absolute;
  top: 0;
  z-index: 9999999999999;
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.global-loader-spinner {
  border: 6px solid #f3f3f3;
  /* Light grey */
  border-top: 6px solid #5A5A5A;
  /* Blue */
  border-radius: 50%;
  width: 48px;
  height: 48px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
