$prefix:"cart-success";

.#{$prefix} {

    &-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 48px 16px 16px 16px;
    }
    &-image {
        width: 140px;
        height: 140px;

    }
    &-text1 {
        font-size: 32px;
        font-family: "ProximaNovaSemiBold";
        color: $colorBlack;
        text-align: center;
        margin-top: 64px;
    }
    &-text2 {
        font-size: 16px;
        color: $colorBlack;
        margin-top: 24px;
        text-align: center;
        
    }
    &-payments-redirect {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        width: 100%;
         
         > img {
             max-width: 170px;
             max-height: 55px;
             @media (max-width:374px) {
                max-width: 150px;   
            }

            @media (max-width:344px) {
                max-width: 140px;   
            }
         }
    }
 
    &-button {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        box-shadow: 1px 3px 8px rgba($color: #000000, $alpha: .2);
        width: 100%;
        
        font-family: "ProximaNovaMedium";
    }
    &-button-payment {
        background-color: $colorPrimary;
        margin-top: 64px;
        color: $colorWhite;
    }
    &-button-back-to-home {
        border: 1px solid $colorPrimary;
        margin-top: 16px;
        color: $colorPrimary;
    }

}

